@import './base.css';

#app {
  background-color: lightgreen;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: normal;
  flex-wrap: nowrap;
  align-items: center;

  font-weight: normal;
}

